$Purple-100: hsl(254, 88%, 90%);
$Purple-500: hsl(256, 67%, 59%);
$Yellow-100: hsl(31, 66%, 93%);
$Yellow-500: hsl(39, 100%, 71%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 7%);

// schedule-div
$schedule-background:$Yellow-100;
$schedule-text-quick-color:$Purple-500;

// social-media div
$social-background:$Purple-500;
$content-background:$Yellow-500;
$socila-heading-color:$white;
$socila-text-color:$white;
$social-yellow-text-color:$Yellow-500;

// platforms div
$platform-background:$white;

//growth background
$gorwth-background:$Purple-500;
$gorwth-content-text:$White;


